<section>
    @if(error()){
    <ngb-alert type="danger" [dismissible]="true" (closed)="error.set(null)">{{
        error()
    }}</ngb-alert>
    }
    <div class="d-flex justify-content-between pb-1">
        <form>
            <div class="mb-3 row">
                <div class="col-xs-3 col-sm-auto">
                    <input
                        id="table-filtering-search"
                        class="form-control"
                        type="text"
                        placeholder="Search tasks..."
                        [formControl]="filter"
                    />
                </div>
                <div class="col-xs-3 col-sm-auto">
                    <select
                        [formControl]="sort"
                        class="form-control form-select"
                    >
                        @for (option of sortOptions; track $index) {
                        <option [value]="option.value">
                            {{ option.label }}
                        </option>
                        }
                    </select>
                </div>
            </div>
        </form>
        <div>
            <button class="btn btn-outline-secondary" routerLink="/new-task">
                Add
            </button>
        </div>
    </div>
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                @for (task of tasks$ | async; track task.id; let i = $index) {
                <tr>
                    <th scope="row">{{ task.id }}</th>
                    <td>
                        <ngb-highlight
                            [result]="task.title"
                            [term]="filter.value"
                        />
                    </td>
                    <td>
                        <ngb-highlight
                            [result]="task.description"
                            [term]="filter.value"
                        />
                    </td>
                    <td>
                        <button (click)="view(task.id)" class="btn btn-primary">
                            Edit
                        </button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="4" style="text-align: center">
                        No tasks found
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</section>
