<form [formGroup]="taskForm" (ngSubmit)="onSubmitForm()">
    <div class="d-flex flex-column gap-4">
        <div>
            <label class="form-label">
                <span>Task Title</span>
            </label>
            <input
                type="text"
                placeholder="Title your task..."
                class="form-control"
                formControlName="title"
                required
            />
        </div>
        <div>
            <label class="form-label">
                <span>Description</span>
            </label>
            <textarea
                placeholder="Describe your task"
                class="form-control"
                formControlName="description"
            ></textarea>
        </div>
        <div>
            <label class="form-label">Priority</label>
            <select
                id="status"
                formControlName="priority"
                class="form-control form-select"
            >
                <option value="" disabled>-- Select an option --</option>
                @for (option of priorityOptions; track $index) {
                <option [value]="option.value">
                    {{ option.label }}
                </option>
                }
            </select>
        </div>
        <div>
            <label class="form-label">Status</label>
            <select
                id="status"
                formControlName="status"
                class="form-control form-select"
            >
                <option value="" disabled>-- Select an option --</option>
                @for (option of statusOptions; track $index) {
                <option [value]="option.value">
                    {{ option.label }}
                </option>
                }
            </select>
        </div>
        <div>
            <label class="form-label">
                <span>Due date</span>
            </label>
            <input
                class="form-control"
                type="datetime-local"
                formControlName="dueDate"
            />
        </div>
    </div>

    <button type="submit" class="btn btn-primary mt-4">{{ buttonText }}</button>
</form>
