<div class="container px-5 mx-auto mt-10">
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h2 class="fs-2 fw-bolder">Create New Task</h2>
    </div>

    @if(error()){
    <ngb-alert type="danger" [dismissible]="true" (closed)="error.set(null)">{{
        error()
    }}</ngb-alert>
    } @if(wasSuccess()){
    <ngb-alert type="success" [dismissible]="true" (closed)="navigateHome()"
        >Task was created successfully!.</ngb-alert
    >
    }

    <app-task-form
        [task]="null"
        (formHandler)="onSubmitCreateForm($event)"
        buttonText="Create Task"
    ></app-task-form>
</div>
