/* You can add global styles to this file, and also import other style files */

.head {
    margin: 4px;
    padding-bottom: 10px;
    padding-top: 6px;
}

.body {
    margin: 3%;
}

.cursor-pointer {
    cursor: pointer;
}
